.wrapper {

    background-color: grey;
    height: 100%;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    background-color: yellow;
}



img {
    height: 40%;
    width: 40%;
}